aiohttp
fuzzywuzzy
python-Levenshtein
google-api-core
Pillow
pyheif
python-dotenv
google-genai
PyNaCl
pillow-heif
pytz
voluptuous
python-magic
beautifulsoup4
aiofiles
discord.py[voice]
mutagen
spotdl
yt-dlp>=2025.9.23